
#navigator > ul{
	
	width: 1100px;
	height: 33px;
	border: 1px solid red;
	padding: 0px;
	margin: 0px auto;
	background-color: greenyellow;
}

#navigator > ul > li{
	margin-left:56px ;
	list-style: none;
	float: left;
	width: 130px;
	height: 30px;
	border: 3px solid seagreen;
}

#navigator > ul > li >a{
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left:30px ;
	background-color: lawngreen;
	border-right: 3px solid black;
	border-bottom: 2px solid black;
	
}

#navigator{
	width: 1100px;
	height: 500px;
	border: 1px solid black;
	margin: 0px auto;
}

table{
	width: 1100px;
	height: 40px;
	
}

#header{
	width: 1120px;
	height: 90px;
	border: 1px solid red;
	margin: 0px auto;
	background-color: darkgrey;
	text-align: center;
}

#body{
	margin: 0px auto;
	width: 1120px;
	border: 2px solid darkgray;
	
}

#navigator >ul> li >ul{
	display: none;
}

#navigator li:hover ul{
	background-color: #2E8B57;
	display: block;
}

#navigator ul>li:hover{
	background-color: #FF0000;
	border: 2px solid black;
	display: block;
	
}
		